{{ $email := promptString "email" -}}
{{ $name := promptString "name" -}}

{{ $customSourceDir := promptString "customSourceDir" -}}

sourceDir = {{ $customSourceDir | quote }}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}

[merge]
  command = "nvim"
  args = ["-d", "{{ `{{ .Destination }}` }}", "{{ `{{ .Source }}` }}", "{{ `{{ .Target }}` }}"]
