import = ["~/.config/alacritty/catppuccin-frappe.toml"]

[shell]
program = "{{ .shell }}"
args = ["-l"]

[env]
SHELL = "{{ .shell }}"

[font]
size = 14.0

[font.normal]
family = "SauceCodePro Nerd Font Mono"
style = "Regular"

[window]
decorations = "None"
